<h1>Eat-Da-Burger!</h1>
<img src="/assets/burger.jpeg" alt="burger" width="200">

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
  <br><br><br>
  <p>Enter a burger you want to eat. Click the Add Burger button.</p>
</form>

<div class="grid-container">
  <div class="col-md-6">
    <h2>Burger List:</h2>
    <ul class="list-group">

      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}

    </ul>
  </div>

  <div class="col-md-6">
    <h2>Devoured Burger List:</h2>
    <ul class="list-group">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


