* {
    background-color: aquamarine;
    font-size: medium;
    text-align: center;
}
.grid-container {
  display: flex;
}
.list-group-item {
  color: black;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
  
.label {
  font-weight: bold;
}
  
.create-form {
  padding: 5px;
  margin: 5px;
  background: rgb(71, 85, 85);
}
  
#burg {
  width: 100px;
  
}
img {
  align-items: center;
}
  