* {
    background-color: rgb(165, 217, 238);
    font-size: medium;
    text-align: center;
}
.grid-container {
  display: flex;
}
.list-group-item {
  color: black;
}
li {
  padding: 5px;
  margin: 5px;
  transition: 0.5s;
  color: transparent;
}
  
.label {
  font-weight: bold;
}
  
.create-form {
  padding: 5px;
  background: rgb(149, 163, 163);
}
  
#burg {
  width: 300px;
}
img {
  text-align: center;
}
.fa-spin-hover:hover {
  animation: fa-spin 2s infinite linear;
}