<li class="list-group-item">
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devoured}}">
		Devour it!
	</button>
	<button class="delete-devour" data-id="{{this.id}}">
		<i class="fa fa-trash trashBtn fa-lg fa-spin-hover"></i>
	</button>
</li>